/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  margin: 10;
  padding: 10;
}

.grid {
  /* key to making the squares wrap as grid */
  display: flex;
  flex-wrap: wrap;

  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.square {
  width: 20px;
  height: 20px;
  background-color: grey;
}
